html, body {
    height: 100%;
    margin: 0 8px;
}

body{
    text-align: center;
    display: grid;
    grid-template-rows: min-content min-content auto;
    background-image: url("bg.jpg");
}

span {
    position: fixed;
    border: dotted thin black;
    font-size: small;
    z-index: 100;
}

h1{
    color: rgb(197, 137, 26);
}

#divContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#div0{
    position: relative;
    border: thin solid black;
    background-color: rgb(222, 210, 166, 0.7);
    top: 0px;
    left: 0px;
    height: 500px;
    width: 500px;
    margin: 5px;
}


#div1{
    position: relative;
    border: thin solid black;
    background-color:rgb(222, 210, 166, 0.7);
    top: 0px;
    left: 0px;
    height: 500px;
    width: 500px;
    margin: 5px;
}