body{
    background-image: url(bg.jpg);
}
h1 {
    color: salmon;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

form{
    background-color: hsl(25, 100%, 97%, 0.9);
    font-family: 'Courier New', Courier, monospace;
}
.front{
    background-color: sandybrown;
    flex-direction: column;
    position: relative;
    margin: 5px;
    align-self: center;
    display: none;
    font-size: x-large;
}

.back{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 5px;
    align-self: center;
}

.bord{
    position: absolute;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 900px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}